:root {
    --red: #FF3B27;
    --beige: #DADACA;
    --black: #000000;
    --violet: #E4ADE5;
    --periwinkle: #C5DFFE;
    --margin: 0.5rem;
    --sans-serif: "scandia-web", sans-serif;
    --serif: "miller-text", serif;
    font-size: 20px;
}

body {
    margin: var(--margin);
    background: var(--beige);
    color: var(--black);
    overflow-x: hidden;
    font-family: var(--serif);
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.015em;
    font-size: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - (var(--margin) * 2));
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

aside {
    position: absolute;
    width: 45%;
    height: 100vh;
    padding: calc(var(--margin) * 2) calc(var(--margin) * 4) calc(var(--margin) * 8) calc(var(--margin) * 4);
    background: var(--violet);
    display: flex;
    gap: calc(var(--margin) * 2);
    flex-direction: column;
    overflow-y: scroll;
    line-height: 1.3;
    transform: translateX(100%);
}


nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.25rem;
    font-family: var(--sans-serif);
    text-transform: uppercase;
    width: 100%;
}

aside ul {
    font-size: 1rem;
}

aside ul {
    display: flex;
    flex-direction: column;
    list-style-type: disc;
    list-style-position: inside;
    gap: 1rem;
    padding-left: 0;
}

aside ul li {
    padding-left: 2em;
    text-indent: -1.4em;
}

.logo {
    width: calc(100% - (var(--margin) * 2));
}

img {
    width: 100%;
}

a {
    color: var(--black);
    text-decoration: none;

}

a:hover {
    opacity: 0.5;
}

#about, #pacbi {
    top: 0;
    right: 0;
    transition: 0.3s;
}

.hide {
    transform: translateX(100%);
}

.show {
     transform: translateX(0%);
}

#pacbi {
    background: var(--periwinkle);
}

.close {
    font-family: var(--sans-serif);
    text-transform: uppercase;
    text-align: right;
}

.intro {
    font-family: var(--sans-serif);
    font-size: 1.4rem;
    letter-spacing: -0.03em;
    line-height: 1.1;
}

#archive {
    position: relative;
}

#archive span {
    position: absolute;
    margin-left: 0.5rem;
    opacity: 0.5;
    display: none;
    animation-name: blink;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-timing-function: step-end;
    transition: 0s;
}

#archive:hover span {
    display: inline;
}

@keyframes blink {
    0% {opacity: 0.5;}
    50% {opacity: 0;}
    100% {opacity: 0.5;}
}

@media screen and (max-width: 768px) {
  aside {
    width: 100%;
  }
}